node_modules/
.expo/
android/
ios/
coverage/
.jest-cache/
dist/
.env
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local
*.jks
*.keystore
*.p8
*.p12
reports/**/generated-*
